* {
  margin: 0;
  padding: 0;
}

:root {
  --darkred: #a41b30;
  --white: white;
  --sunray: #d7ad51;
  --lapis: #15639e;
  --black: black;
}

h1,
h2,
h3,
p,
li,
a {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  nav {
    background-color: var(--darkred);
    padding: 1rem 4rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 4rem;
      }
    }
  }

  margin-bottom: 5rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  gap: 1rem;

  h1 {
    font-size: 2.5rem;
  }
}

.timeline {
  position: relative;

  .stripe {
    width: 3px;
    height: 100rem;
    border-radius: 5px;
    background-color: var(--darkred);
    margin-left: calc(50% - 1.5px);
    position: absolute;
  }

  .block {
    position: relative;
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 8rem 2rem;
    transition: ease-out 1s;

    &.left {
      flex-direction: row-reverse;
      left: -55vw;

      &:hover {
        left: 2vw;
      }

      section:last-of-type {
        width: 55%;
        left: 0;
      }
    }

    &.right {
      flex-direction: row;
      right: -55vw;

      &:hover {
        right: 2vw;
      }

      section:last-of-type {
        width: 55%;
        right: 0;
      }
    }

    &:first-of-type {
      top: 5rem;
    }

    section {
      position: absolute;

      &:last-of-type {
        background-color: var(--white);
      }
    }
  }
}
